<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Chapter</title>
</head>
<body>
    <h1>New Chapter</h1>
    <form action="/add_chapter" method = "POST">
        <br><label for="name">Name:</label>
        <input type="text" name = "name", id = "name">
        <br><label for="description">Description:</label>
        <input type="text" name="description" id="description">
        <br><label for="no_of_question">No. of Question:</label>
        <input type="text" name="no_of_question" id="no_of_question">
        <br><label for="subject_id">Subject id:</label>
        <input type="text" name="subject_id" id="subject_id">

        <br><button type="submit">Save</button>
    </form>
</body>
</html>