<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <div id = "nav_bar">
        <a href="admin_dashboard.html">Home</a>  |  <a href="quiz.html">Quiz</a>  |  <a href="summary.html">Summary</a>     |  <a href="/logout">Logout</a>
    </div>

    <div id = "add">
        <a href="add_subject.html">
            <button>Add Subject</button>
        </a>
    </div>
</body>
</html>