<!DOCTYPE html>
<html>
<body>
    <h1>Edit Chapter</h1>
    <form method="POST">
        <input type="hidden" name="id" value="{{ chapter.id }}">
        
        <label>Name:</label><br>
        <input type="text" name="name" value="{{ chapter.name }}" required><br>
        
        <label>Description:</label><br>
        <input type="text" name="description" value="{{ chapter.description }}"><br>
        
        <label>Number of Questions:</label><br>
        <input type="number" name="no_of_question" value="{{ chapter.no_of_question }}" required><br>
        
        <label>Subject:</label><br>
        <select name="subject_id" required>
            {% for subject in subjects %}
            <option value="{{ subject.id }}" 
                {% if subject.id == chapter.subject_id %}selected{% endif %}>
                {{ subject.name }}
            </option>
            {% endfor %}
        </select><br>
        
        <button type="submit">Update Chapter</button>
    </form>
</body>
</html>